<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="./static/styles.css" />
    </head>
    <body>
        <h1>Login</h1>
        <form >
            <label for="Username">Username</label>
            <input type="text" id="Username" name="Username">
            <label for="Password">Password</label>
            <input type="text" id="Password" name="Password">
            <input type="submit" value="submit">

            <button type="Register" value="Register">Register Here</button>

        </form>
    </body>
</html>